### Pandas for Exploratory Data Analysis

- MovieLens 100k movie rating data:
    - Main page: http://grouplens.org/datasets/movielens/
    - Data dictionary: http://files.grouplens.org/datasets/movielens/ml-100k-README.txt
    - Files: u.user, u.user_original (no header row)

- WHO alcohol consumption data:
    - Article: http://fivethirtyeight.com/datalab/dear-mona-followup-where-do-people-drink-the-most-beer-wine-and-spirits/    
    - Original data: https://github.com/fivethirtyeight/data/tree/master/alcohol-consumption
    - file: drinks.csv (with additional 'continent' column)

- National UFO Reporting Center data:
    - Main page: http://www.nuforc.org/webreports.html
    - File: ufo.csv

In [2]:
import pandas as pd

'''
Reading Files, Selecting Columns, and Summarizing
'''

# can read a file from local computer 
pd.read_table('./Data/u.user')

# read 'u.user' into 'users'
users = pd.read_table('./Data/u.user', sep='|', index_col='user_id')

### Examine the users data
Print the following values and understand the data
- users                   
- type(users)             
- users.head()            
- users.head(10)          
- users.tail()            
- users.index             
- users.columns           
- users.dtypes            
- users.shape             
- users.values

In [3]:
print users
print type(users)
print users.head()
print users.head(10)
print users.tail()
print users.index
print users.columns
print users.shape
print users.values

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107
26        49      M       engineer    21044
27        40      F      librarian    30030
28        32      M         writer    55369
29        41      M     programmer    94043
30         7      M        student    55436
...      ...    ...            ...      ...
914       44      F          other    08105
915       50      M  entertainment    60614
916       27      M       engineer    N2L5N
917       22      F        student    20006
918       40      M      scientist    70116
919       25      M          other    14216
920       30      F         artist    90008
921       20      F        student    98801
922       29      F  administrator    21114
923       21      M        student    E2E3R
924       29      M          other    11753
925       18      F       salesman    49036
926       49      M  entertainment    01701
927       23      M     programmer    55428
928       21      M        student    55408
929       44      M      scientist    53711
930       28      F      scientist    07310
931       60      M       educator    33556
932       58      M       educator    06437
933       28      M        student    48105
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]
<class 'pandas.core.frame.DataFrame'>
         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
         age gender     occupation zip_code
user_id
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name=u'user_id', length=943)
Index([u'age', u'gender', u'occupation', u'zip_code'], dtype='object')
(943, 4)
[[24 'M' 'technician' '85711']
 [53 'F' 'other' '94043']
 [23 'M' 'writer' '32067']
 ...,
 [20 'M' 'student' '97229']
 [48 'F' 'librarian' '78209']
 [22 'M' 'student' '77841']]

### Select a column

In [4]:
users['gender']         # select one column
type(users['gender'])   # Series
users.gender            # select one column using the DataFrame attribute

user_id
1      M
2      F
3      M
4      M
5      F
6      M
7      M
8      M
9      M
10     M
11     F
12     F
13     M
14     M
15     F
16     M
17     M
18     F
19     M
20     F
21     M
22     M
23     F
24     F
25     M
26     M
27     F
28     M
29     M
30     M
      ..
914    F
915    M
916    M
917    F
918    M
919    M
920    F
921    F
922    F
923    M
924    M
925    F
926    M
927    M
928    M
929    M
930    F
931    M
932    M
933    M
934    M
935    M
936    M
937    M
938    F
939    F
940    M
941    M
942    F
943    M
Name: gender, Length: 943, dtype: object

### Summarize (describe) the DataFrame
Try the folloing functions to descrive the data

- users.describe()                    # describe all numeric columns
- users.describe(include=['object'])  # describe all object columns
- users.describe(include='all')       # describe all columns

In [5]:
# print users.describe()
print users.describe(include=['object'])
print users.describe(include='all')

       gender occupation zip_code
count     943        943      943
unique      2         21      795
top         M    student    55414
freq      670        196        9
               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Summarize a Series
Use  the following to summerise a series

- users.gender.describe()             # describe a single column
- users.age.mean()                    # only calculate the mean

In [6]:
print users.gender.describe()
print users.age.mean()

count     943
unique      2
top         M
freq      670
Name: gender, dtype: object
34.051961824

### Count the number of occurrences of each value
- users.gender.value_counts()     # most useful for categorical variables
- users.age.value_counts()        # can also be used with numeric variables

In [7]:
print users.gender.value_counts()
print users.age.value_counts()

M    670
F    273
Name: gender, dtype: int64
30    39
25    38
22    37
28    36
27    35
26    34
24    33
29    32
20    32
32    28
23    28
35    27
21    27
33    26
31    25
19    23
44    23
39    22
40    21
36    21
42    21
51    20
50    20
48    20
49    19
37    19
18    18
34    17
38    17
45    15
      ..
47    14
43    13
46    12
53    12
55    11
41    10
57     9
60     9
52     6
56     6
15     6
13     5
16     5
54     4
63     3
14     3
65     3
70     3
61     3
59     3
58     3
64     2
68     2
69     2
62     2
11     1
10     1
73     1
66     1
7      1
Name: age, Length: 61, dtype: int64

### Exercise 1

In [8]:
# read drinks.csv into a DataFrame called 'drinks'
drinks = pd.read_table('./Data/drinks.csv', sep=',')
drinks = pd.read_csv('./Data/drinks.csv')              # assumes separator is comma

In [9]:
# print the head and the tail
print drinks.head()
print drinks.tail()

# examine the default index, data types, and shape
print drinks.index
print type(drinks)
print drinks.shape

print the 'beer_servings' Series
print drinks['beer_servings']

# calculate the mean 'beer_servings' for the entire dataset
print drinks.beer_servings.mean()
# count the number of occurrences of each 'continent' value and see if it looks correct
print drinks.continent.value_counts()

# BONUS: display only the number of rows of the 'users' DataFrame


# BONUS: display the 3 most frequent occupations in 'users'


# BONUS: create the 'users' DataFrame from the u.user_original file (which lacks a header row)
# Hint: read the pandas.read_table documentation

### Filtering and Sorting

### Boolean filtering
Use the following functions to show users with age < 20
``` python
young_bool = users.age < 20         # create a Series of booleans...
users[young_bool]                   # ...and use that Series to filter rows
users[users.age < 20]               # or, combine into a single step
users[users.age < 20].occupation    # select one column from the filtered results
users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series
```

In [10]:
young_bool =users.age < 20         # create a Series of booleans...
print young_bool
print users[young_bool]                   # ...and use that Series to filter rows
users[users.age < 20]               # or, combine into a single step
print users[users.age < 20].occupation    # select one column from the filtered results
print users[users.age < 20].occupation.value_counts()     # value_counts of resulting Series

user_id
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30      True
       ...
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925     True
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
Name: age, Length: 943, dtype: bool
         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
...      ...    ...            ...      ...
601       19      F         artist    99687
609       13      F        student    55106
618       15      F        student    44212
619       17      M        student    44134
620       18      F         writer    81648
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
787       18      F        student    98620
813       14      F        student    02136
817       19      M        student    60152
849       15      F        student    25652
851       18      M          other    29646
859       18      F          other    06492
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036

[77 rows x 4 columns]
user_id
30           student
36           student
52           student
57              none
67           student
68           student
101          student
110          student
142            other
179    entertainment
206          student
221          student
223          student
246          student
257          student
258          student
262          student
270          student
281          student
289             none
291          student
303          student
320          student
341          student
347          student
367          student
368          student
375    entertainment
393          student
397          student
           ...
601           artist
609          student
618          student
619          student
620           writer
621          student
624          student
628             none
631          student
632          student
642          student
646          student
674          student
700          student
710          student
729          student
747            other
761          student
787          student
813          student
817          student
849          student
851            other
859            other
863          student
872          student
880          student
887          student
904          student
925         salesman
Name: occupation, Length: 77, dtype: object
student          64
other             4
none              3
writer            2
entertainment     2
salesman          1
artist            1
Name: occupation, dtype: int64

### Boolean filtering with multiple conditions
```python
users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition
users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition
```

In [11]:
print users[(users.age < 20) & (users.gender=='M')]       # ampersand for AND condition
print users[(users.age < 20) | (users.age > 60)]          # pipe for OR condition

         age gender     occupation zip_code
user_id
30         7      M        student    55436
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
221       19      M        student    20685
246       19      M        student    28734
257       17      M        student    77005
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
320       19      M        student    24060
347       18      M        student    90210
367       17      M        student    37411
368       18      M        student    92113
375       17      M  entertainment    37777
393       19      M        student    83686
397       17      M        student    27514
425       19      M        student    58644
451       16      M        student    48446
453       18      M        student    06333
461       15      M        student    98102
471       10      M        student    77459
521       19      M        student    02146
528       18      M        student    55104
580       16      M        student    17961
582       17      M        student    93003
592       18      M        student    97520
619       17      M        student    44134
621       17      M        student    60402
624       19      M        student    30067
628       13      M           none    94306
632       18      M        student    55454
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
817       19      M        student    60152
851       18      M          other    29646
863       17      M        student    60089
880       13      M        student    83702
         age gender     occupation zip_code
user_id
30         7      M        student    55436
36        19      F        student    93117
52        18      F        student    55105
57        16      M           none    84010
67        17      M        student    60402
68        19      M        student    22904
101       15      M        student    05146
106       61      M        retired    55125
110       19      M        student    77840
142       13      M          other    48118
179       15      M  entertainment    20755
206       14      F        student    53115
211       66      M       salesman    32605
221       19      M        student    20685
223       19      F        student    47906
246       19      M        student    28734
257       17      M        student    77005
258       19      F        student    77801
262       19      F        student    78264
266       62      F  administrator    78756
270       18      F        student    63119
281       15      F        student    06059
289       11      M           none    94619
291       19      M        student    44106
303       19      M        student    14853
318       65      M        retired    06518
320       19      M        student    24060
341       17      F        student    44405
347       18      M        student    90210
349       68      M        retired    61455
...      ...    ...            ...      ...
631       18      F        student    38866
632       18      M        student    55454
642       18      F        student    95521
646       17      F        student    51250
651       65      M        retired    02903
674       13      F        student    55337
700       17      M        student    76309
710       19      M        student    92020
729       19      M        student    56567
747       19      M          other    93612
761       17      M        student    97302
767       70      M       engineer    00000
777       63      M     programmer    01810
787       18      F        student    98620
803       70      M  administrator    78212
813       14      F        student    02136
817       19      M        student    60152
845       64      M         doctor    97405
849       15      F        student    25652
851       18      M          other    29646
858       63      M       educator    09645
859       18      F          other    06492
860       70      F        retired    48322
863       17      M        student    60089
872       19      F        student    74078
880       13      M        student    83702
887       14      F        student    27249
904       17      F        student    61073
925       18      F       salesman    49036
934       61      M       engineer    22902

[99 rows x 4 columns]

### Sorting
``` python
users.age.order()                   # sort a column
users.sort('age')                   # sort a DataFrame by a single column
users.sort('age', ascending=False)  # use descending order instead
```

In [12]:
users.age.order                   # sort a column
users.sort('age')                   # sort a DataFrame by a single column
users.sort('age', ascending=False)  # use descendinprint g order inprint print stead

### Exercise 2

In [13]:
# filter 'drinks' to only include European countries
print drinks[drinks.continent == "EU"]
# filter 'drinks' to only include European countries with wine_servings > 300
print drinks[(drinks.continent == "EU") & (drinks.wine_servings > 300)]
# calculate the mean 'beer_servings' for all of Europe
print drinks.beer_servings[(drinks.continent == "EU")].mean()
# determine which 10 countries have the highest total_litres_of_pure_alcohol
print drinks.sort_values('total_litres_of_pure_alcohol',ascending=False).country[:10]
# BONUS: sort 'users' by 'occupation' and then by 'age' (in a single command)
# BONUS: filter 'users' to only include doctors and lawyers without using a |
# Hint: read the pandas.Series.isin documentation

15                Belarus
98              Lithuania
3                 Andorra
68                Grenada
45         Czech Republic
61                 France
141    Russian Federation
81                Ireland
155              Slovakia
99             Luxembourg
Name: country, dtype: object

### Renaming, Adding, and Removing Columns
Try the floowing code
``` python
# rename one or more columns
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)

# replace all column names
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
drinks.columns = drink_cols

# replace all column names when reading the file
drinks = pd.read_csv('./Data/drinks.csv', header=0, names=drink_cols)

# add a new column as a function of existing columns
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000

# removing columns
drinks.drop('mL', axis=1)                               # axis=0 for rows, 1 for columns
drinks.drop(['mL', 'servings'], axis=1, inplace=True)   # drop multiple columns
```

In [14]:
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'})
drinks.rename(columns={'beer_servings':'beer', 'wine_servings':'wine'}, inplace=True)
drink_cols = ['country', 'beer', 'spirit', 'wine', 'liters', 'continent']
drinks.columns = drink_cols
drinks = pd.read_csv('./Data/drinks.csv', header=0, names=drink_cols)
drinks['servings'] = drinks.beer + drinks.spirit + drinks.wine
drinks['mL'] = drinks.liters * 1000
drinks.drop(['mL', 'servings'], axis=1, inplace=True)
drinks

                  country  beer  spirit  wine  liters continent
0             Afghanistan     0       0     0     0.0        AS
1                 Albania    89     132    54     4.9        EU
2                 Algeria    25       0    14     0.7        AF
3                 Andorra   245     138   312    12.4        EU
4                  Angola   217      57    45     5.9        AF
5       Antigua & Barbuda   102     128    45     4.9       NaN
6               Argentina   193      25   221     8.3        SA
7                 Armenia    21     179    11     3.8        EU
8               Australia   261      72   212    10.4        OC
9                 Austria   279      75   191     9.7        EU
10             Azerbaijan    21      46     5     1.3        EU
11                Bahamas   122     176    51     6.3       NaN
12                Bahrain    42      63     7     2.0        AS
13             Bangladesh     0       0     0     0.0        AS
14               Barbados   143     173    36     6.3       NaN
15                Belarus   142     373    42    14.4        EU
16                Belgium   295      84   212    10.5        EU
17                 Belize   263     114     8     6.8       NaN
18                  Benin    34       4    13     1.1        AF
19                 Bhutan    23       0     0     0.4        AS
20                Bolivia   167      41     8     3.8        SA
21     Bosnia-Herzegovina    76     173     8     4.6        EU
22               Botswana   173      35    35     5.4        AF
23                 Brazil   245     145    16     7.2        SA
24                 Brunei    31       2     1     0.6        AS
25               Bulgaria   231     252    94    10.3        EU
26           Burkina Faso    25       7     7     4.3        AF
27                Burundi    88       0     0     6.3        AF
28          Cote d'Ivoire    37       1     7     4.0        AF
29             Cabo Verde   144      56    16     4.0        AF
..                    ...   ...     ...   ...     ...       ...
163              Suriname   128     178     7     5.6        SA
164             Swaziland    90       2     2     4.7        AF
165                Sweden   152      60   186     7.2        EU
166           Switzerland   185     100   280    10.2        EU
167                 Syria     5      35    16     1.0        AS
168            Tajikistan     2      15     0     0.3        AS
169              Thailand    99     258     1     6.4        AS
170             Macedonia   106      27    86     3.9        EU
171           Timor-Leste     1       1     4     0.1        AS
172                  Togo    36       2    19     1.3        AF
173                 Tonga    36      21     5     1.1        OC
174     Trinidad & Tobago   197     156     7     6.4       NaN
175               Tunisia    51       3    20     1.3        AF
176                Turkey    51      22     7     1.4        AS
177          Turkmenistan    19      71    32     2.2        AS
178                Tuvalu     6      41     9     1.0        OC
179                Uganda    45       9     0     8.3        AF
180               Ukraine   206     237    45     8.9        EU
181  United Arab Emirates    16     135     5     2.8        AS
182        United Kingdom   219     126   195    10.4        EU
183              Tanzania    36       6     1     5.7        AF
184                   USA   249     158    84     8.7       NaN
185               Uruguay   115      35   220     6.6        SA
186            Uzbekistan    25     101     8     2.4        AS
187               Vanuatu    21      18    11     0.9        OC
188             Venezuela   333     100     3     7.7        SA
189               Vietnam   111       2     1     2.0        AS
190                 Yemen     6       0     0     0.1        AS
191                Zambia    32      19     4     2.5        AF
192              Zimbabwe    64      18     4     4.7        AF

[193 rows x 6 columns]

### Handling Missing Values
Try the following code :
```python

# missing values are usually excluded by default
drinks.continent.value_counts()              # excludes missing values
drinks.continent.value_counts(dropna=False)  # includes missing values

# find missing values in a Series
drinks.continent.isnull()           # True if missing
drinks.continent.notnull()          # True if not missing

# use a boolean Series to filter DataFrame rows
drinks[drinks.continent.isnull()]   # only show rows where continent is missing
drinks[drinks.continent.notnull()]  # only show rows where continent is not missing

# side note: understanding axes
drinks.sum()            # sums "down" the 0 axis (rows)
drinks.sum(axis=0)      # equivalent (since axis=0 is the default)
drinks.sum(axis=1)      # sums "across" the 1 axis (columns)

# side note: adding booleans
pd.Series([True, False, True])          # create a boolean Series
pd.Series([True, False, True]).sum()    # converts False to 0 and True to 1

# find missing values in a DataFrame
drinks.isnull()             # DataFrame of booleans
drinks.isnull().sum()       # count the missing values in each column

# drop missing values
drinks.dropna()             # drop a row if ANY values are missing
drinks.dropna(how='all')    # drop a row only if ALL values are missing

# fill in missing values
drinks.continent.fillna(value='NA', inplace=True)   # fill in missing values with 'NA'

# turn off the missing value filter
drinks = pd.read_csv('./Data/drinks.csv', header=0, names=drink_cols, na_filter=False)
```

In [15]:
drinks.continent.value_counts() 
drinks.continent.value_counts(dropna=False)
drinks.continent.isnull()
drinks.continent.notnull()
drinks.sum() 
drinks.sum(axis=0)
drinks.sum(axis=1)
pd.Series([True, False, True])
pd.Series([True, False, True]).sum()
drinks.isnull() 
drinks.isnull().sum() 
drinks.dropna() 
drinks.dropna(how='all')
drinks.continent.fillna(value='NA', inplace=True)
drinks = pd.read_csv('./Data/drinks.csv', header=0, names=drink_cols, na_filter=False)
drinks

                  country  beer  spirit  wine  liters continent
0             Afghanistan     0       0     0     0.0        AS
1                 Albania    89     132    54     4.9        EU
2                 Algeria    25       0    14     0.7        AF
3                 Andorra   245     138   312    12.4        EU
4                  Angola   217      57    45     5.9        AF
5       Antigua & Barbuda   102     128    45     4.9        NA
6               Argentina   193      25   221     8.3        SA
7                 Armenia    21     179    11     3.8        EU
8               Australia   261      72   212    10.4        OC
9                 Austria   279      75   191     9.7        EU
10             Azerbaijan    21      46     5     1.3        EU
11                Bahamas   122     176    51     6.3        NA
12                Bahrain    42      63     7     2.0        AS
13             Bangladesh     0       0     0     0.0        AS
14               Barbados   143     173    36     6.3        NA
15                Belarus   142     373    42    14.4        EU
16                Belgium   295      84   212    10.5        EU
17                 Belize   263     114     8     6.8        NA
18                  Benin    34       4    13     1.1        AF
19                 Bhutan    23       0     0     0.4        AS
20                Bolivia   167      41     8     3.8        SA
21     Bosnia-Herzegovina    76     173     8     4.6        EU
22               Botswana   173      35    35     5.4        AF
23                 Brazil   245     145    16     7.2        SA
24                 Brunei    31       2     1     0.6        AS
25               Bulgaria   231     252    94    10.3        EU
26           Burkina Faso    25       7     7     4.3        AF
27                Burundi    88       0     0     6.3        AF
28          Cote d'Ivoire    37       1     7     4.0        AF
29             Cabo Verde   144      56    16     4.0        AF
..                    ...   ...     ...   ...     ...       ...
163              Suriname   128     178     7     5.6        SA
164             Swaziland    90       2     2     4.7        AF
165                Sweden   152      60   186     7.2        EU
166           Switzerland   185     100   280    10.2        EU
167                 Syria     5      35    16     1.0        AS
168            Tajikistan     2      15     0     0.3        AS
169              Thailand    99     258     1     6.4        AS
170             Macedonia   106      27    86     3.9        EU
171           Timor-Leste     1       1     4     0.1        AS
172                  Togo    36       2    19     1.3        AF
173                 Tonga    36      21     5     1.1        OC
174     Trinidad & Tobago   197     156     7     6.4        NA
175               Tunisia    51       3    20     1.3        AF
176                Turkey    51      22     7     1.4        AS
177          Turkmenistan    19      71    32     2.2        AS
178                Tuvalu     6      41     9     1.0        OC
179                Uganda    45       9     0     8.3        AF
180               Ukraine   206     237    45     8.9        EU
181  United Arab Emirates    16     135     5     2.8        AS
182        United Kingdom   219     126   195    10.4        EU
183              Tanzania    36       6     1     5.7        AF
184                   USA   249     158    84     8.7        NA
185               Uruguay   115      35   220     6.6        SA
186            Uzbekistan    25     101     8     2.4        AS
187               Vanuatu    21      18    11     0.9        OC
188             Venezuela   333     100     3     7.7        SA
189               Vietnam   111       2     1     2.0        AS
190                 Yemen     6       0     0     0.1        AS
191                Zambia    32      19     4     2.5        AF
192              Zimbabwe    64      18     4     4.7        AF

[193 rows x 6 columns]

### Exercise 3

In [37]:
# read ufo.csv into a DataFrame called 'ufo'
ufo_cols = ['city', 'colors', 'reported_shape', 'state', 'time']
ufo.columns = ufo_cols
ufo = pd.read_csv('./Data/ufo.csv', header=0, names=ufo_cols)
# check the shape of the DataFrame
print ufo.shape
# calculate the most frequent value for each of the columns (in a single command)
print ufo.reported_shape.unique
# what are the four most frequent colors reported?
print ufo.colors.value_counts()[:4]

# for reports in VA, what's the most frequent city?
va_cities = ufo.city[(ufo.state == "VA")]
va_cities_df = pd.DataFrame(va_cities)
va_cities_df.city.value_counts()[:1]
# show only the UFO reports from Arlington, VA
ufo[(ufo.state == "VA") & (ufo.city == "Arlington")]
# count the number of missing values in each column
print ufo.isnull().sum()

# show only the UFO reports in which the City is missing
print ufo[(ufo.city.isnull())]
# how many rows remain if you drop all rows with any missing values?
print ufo.dropna().count()

# replace any spaces in the column names with an underscore
ufo = pd.read_csv('./Data/ufo.csv')
ufo = ufo.rename(columns={'Colors Reported':'colors_reported','Shape Reported':'shape_reported'})

# BONUS: redo the task above, writing generic code to replace spaces with underscores
# In other words, your code should not reference the specific column names

# BONUS: create a new column called 'Location' that includes both City and State
# For example, the 'Location' for the first row would be 'Ithaca, NY'

### Split-Apply-Combine
![](http://i.imgur.com/yjNkiwL.png)

Try the following 
```python
# for each continent, calculate the mean beer servings
drinks.groupby('continent').beer.mean()

# for each continent, count the number of occurrences
drinks.continent.value_counts()

# for each continent, describe beer servings
drinks.groupby('continent').beer.describe()

# similar, but outputs a DataFrame and can be customized
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort('mean')

# if you don't specify a column to which the aggregation function should be applied,
# it will be applied to all numeric columns
drinks.groupby('continent').mean()
drinks.groupby('continent').describe()
```

In [17]:
drinks.groupby('continent').beer.mean()
drinks.continent.value_counts()
drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max'])
# drinks.groupby('continent').beer.agg(['count', 'mean', 'min', 'max']).sort('mean')
drinks.groupby('continent').mean()
drinks.groupby('continent').describe()

           beer                                                             \
          count        mean        std   min     25%    50%     75%    max
continent
AF         53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS         44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0
EU         45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
NA         23.0  145.434783  79.621163   1.0   80.00  143.0  198.00  285.0
OC         16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
SA         12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0

          liters            ...    spirit         wine                         \
           count      mean  ...       75%    max count        mean        std
continent                   ...
AF          53.0  3.007547  ...     19.00  152.0  53.0   16.264151  38.846419
AS          44.0  2.170455  ...     98.00  326.0  44.0    9.068182  21.667034
EU          45.0  8.617778  ...    173.00  373.0  45.0  142.222222  97.421738
NA          23.0  5.995652  ...    190.50  438.0  23.0   24.521739  28.266378
OC          16.0  3.381250  ...     65.25  254.0  16.0   35.625000  64.555790
SA          12.0  6.308333  ...    148.75  302.0  12.0   62.416667  88.620189


           min   25%    50%     75%    max
continent
AF         0.0   1.0    2.0   13.00  233.0
AS         0.0   0.0    1.0    8.00  123.0
EU         0.0  59.0  128.0  195.00  370.0
NA         1.0   5.0   11.0   34.00  100.0
OC         0.0   1.0    8.5   23.25  212.0
SA         1.0   3.0   12.0   98.50  221.0

[6 rows x 32 columns]

### Exercise 4

In [20]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

# for each occupation, calculate the mean age
users.groupby('occupation').mean()
# BONUS: for each occupation, calculate the minimum and maximum ages

# BONUS: for each combination of occupation and gender, calculate the mean age

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

### Other Frequently Used Features
```python 

# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})

# encode strings as integer values (automatically starts at 0)
users['occupation_num'] = users.occupation.factorize()[0]

# determine unique values in a column
users.occupation.nunique()      # count the number of unique values
users.occupation.unique()       # return the unique values

# replace all instances of a value in a column (must match entire value)
ufo.State.replace('Fl', 'FL', inplace=True)

# string methods are accessed via 'str'
ufo.State.str.upper()                               # converts to uppercase
ufo.Colors_Reported.str.contains('RED', na='False') # checks for a substring

# convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
ufo.Time.dt.hour                        # datetime format exposes convenient attributes
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"
ufo[ufo.Time > pd.datetime(2014, 1, 1)] # boolean filtering with datetime format

# setting and then removing an index
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)

# sort a column by its index
ufo.State.value_counts().sort_index()

# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')

# change the data type of a column when reading in a file
pd.read_csv('drinks.csv', dtype={'beer_servings':float})

# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]

# concatenate two DataFrames (axis=0 for rows, axis=1 for columns)
drinks = pd.concat([drinks, continent_dummies], axis=1)
```

In [58]:
# map existing values to a different set of values
users['is_male'] = users.gender.map({'F':0, 'M':1})
# encode strings as integer values (automatically starts at 0)
users['occupation_num'] = users.occupation.factorize()[0]
# determine unique values in a column
users.occupation.nunique()  
users.occupation.unique()
ufo.State.replace('Fl', 'FL', inplace=True)
ufo.State.str.upper() 
ufo.colors_reported.str.contains('RED', na='False')
convert a string to the datetime format
ufo['Time'] = pd.to_datetime(ufo.Time)
(ufo.Time.max() - ufo.Time.min()).days  # also allows you to do datetime "math"
ufo[ufo.Time > pd.datetime(2014, 1, 1)] # boolean filtering with datetime format
ufo.set_index('Time', inplace=True)
ufo.reset_index(inplace=True)
ufo.State.value_counts().sort_index()
ufo.State.value_counts().sort_index()
# change the data type of a column
drinks['beer'] = drinks.beer.astype('float')
pd.read_csv('./Data/drinks.csv', dtype={'beer_servings':float})
# create dummy variables for 'continent' and exclude first dummy column
continent_dummies = pd.get_dummies(drinks.continent, prefix='cont').iloc[:, 1:]
# drinks = pd.concat([drinks, continent_dummies], axis=1)

### Less Frequently Used Features
``` python
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})

# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])

# detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # count of duplicates
users[users.duplicated()]   # only show duplicates
users.drop_duplicates()     # drop duplicate rows
users.age.duplicated()      # check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding duplicates

# display a cross-tabulation of two Series
pd.crosstab(users.occupation, users.gender)

# alternative syntax for boolean filtering (noted as "experimental" in the documentation)
users.query('age < 20')                 # users[users.age < 20]
users.query("age < 20 and gender=='M'") # users[(users.age < 20) & (users.gender=='M')]
users.query('age < 20 or age > 60')     # users[(users.age < 20) | (users.age > 60)]

# display the memory usage of a DataFrame
ufo.info()          # total usage
ufo.memory_usage()  # usage by column

# change a Series to the 'category' data type (reduces memory usage and increases performance)
ufo['State'] = ufo.State.astype('category')

# temporarily define a new column as a function of existing columns
drinks.assign(servings = drinks.beer + drinks.spirit + drinks.wine)

# limit which rows are read when reading in a file
pd.read_csv('drinks.csv', nrows=10)           # only read first 10 rows
pd.read_csv('drinks.csv', skiprows=[1, 2])    # skip the first two rows of data

# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv')                 # index is used as first column
drinks.to_csv('drinks_updated.csv', index=False)    # ignore index

# save a DataFrame to disk (aka 'pickle') and read it from disk (aka 'unpickle')
drinks.to_pickle('drinks_pickle')
pd.read_pickle('drinks_pickle')

# randomly sample a DataFrame
train = drinks.sample(frac=0.75, random_state=1)    # will contain 75% of the rows
test = drinks[~drinks.index.isin(train.index)]      # will contain the other 25%

# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
print drinks

# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print drinks
    
```

In [89]:
# create a DataFrame from a dictionary
pd.DataFrame({'capital':['Montgomery', 'Juneau', 'Phoenix'], 'state':['AL', 'AK', 'AZ']})
# create a DataFrame from a list of lists
pd.DataFrame([['Montgomery', 'AL'], ['Juneau', 'AK'], ['Phoenix', 'AZ']], columns=['capital', 'state'])
# detecting duplicate rows
users.duplicated()          # True if a row is identical to a previous row
users.duplicated().sum()    # count of duplicates
users[users.duplicated()]   # only show duplicates
users.drop_duplicates()     # drop duplicate rows
users.age.duplicated()      # check a single column for duplicates
users.duplicated(['age', 'gender', 'zip_code']).sum()   # specify columns for finding
# display a cross-tabulation of two Series
pd.crosstab(users.occupation, users.gender)
# alternative syntax for boolean filtering (noted as "experimental" in the documentation)
users.query('age < 20')                 # users[users.age < 20]
users.query("age < 20 and gender=='M'") # users[(users.age < 20) & (users.gender=='M')]
users.query('age < 20 or age > 60')     # users[(users.age < 20) | (users.age > 60)]
# display the memory usage of a DataFrame
ufo.info()          # total usage
ufo.memory_usage()  # usage by column
# change a Series to the 'category' data type (reduces memory usage and increases performance)
ufo['State'] = ufo.State.astype('category')
# temporarily define a new column as a function of existing columns
drinks.assign(servings = drinks.beer + drinks.spirit + drinks.wine)
# limit which rows are read when reading in a file
pd.read_csv('./Data/drinks.csv', nrows=10)           # only read first 10 rows
pd.read_csv('./Data/drinks.csv', skiprows=[1, 2])    # skip the first two rows of data

# write a DataFrame out to a CSV
drinks.to_csv('drinks_updated.csv') 

drinks.to_csv('drinks_updated.csv', index=False)    # ignore index
# save a DataFrame to disk (aka 'pickle') and read it from disk (aka 'unpickle')
drinks.to_pickle('drinks_pickle')
pd.read_pickle('drinks_pickle')
# randomly sample a DataFrame
train = drinks.sample(frac=0.75, random_state=1)    # will contain 75% of the rows
test = drinks[~drinks.index.isin(train.index)]      # will contain the other 25%
# change the maximum number of rows and columns printed ('None' means unlimited)
pd.set_option('max_rows', None)     # default is 60 rows
pd.set_option('max_columns', None)  # default is 20 columns
print drinks
# reset options to defaults
pd.reset_option('max_rows')
pd.reset_option('max_columns')

# change the options temporarily (settings are restored when you exit the 'with' block)
with pd.option_context('max_rows', None, 'max_columns', None):
    print drinks

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18241 entries, 1930-06-01 22:00:00 to 2000-12-31 23:59:00
Data columns (total 4 columns):
City               18216 non-null object
colors_reported    2882 non-null object
shape_reported     15597 non-null object
State              18241 non-null category
dtypes: category(1), object(3)
memory usage: 590.7+ KB
                          country   beer  spirit  wine  liters continent  \
0                     Afghanistan    0.0       0     0     0.0        AS
1                         Albania   89.0     132    54     4.9        EU
2                         Algeria   25.0       0    14     0.7        AF
3                         Andorra  245.0     138   312    12.4        EU
4                          Angola  217.0      57    45     5.9        AF
5               Antigua & Barbuda  102.0     128    45     4.9        NA
6                       Argentina  193.0      25   221     8.3        SA
7                         Armenia   21.0     179    11     3.8        EU
8                       Australia  261.0      72   212    10.4        OC
9                         Austria  279.0      75   191     9.7        EU
10                     Azerbaijan   21.0      46     5     1.3        EU
11                        Bahamas  122.0     176    51     6.3        NA
12                        Bahrain   42.0      63     7     2.0        AS
13                     Bangladesh    0.0       0     0     0.0        AS
14                       Barbados  143.0     173    36     6.3        NA
15                        Belarus  142.0     373    42    14.4        EU
16                        Belgium  295.0      84   212    10.5        EU
17                         Belize  263.0     114     8     6.8        NA
18                          Benin   34.0       4    13     1.1        AF
19                         Bhutan   23.0       0     0     0.4        AS
20                        Bolivia  167.0      41     8     3.8        SA
21             Bosnia-Herzegovina   76.0     173     8     4.6        EU
22                       Botswana  173.0      35    35     5.4        AF
23                         Brazil  245.0     145    16     7.2        SA
24                         Brunei   31.0       2     1     0.6        AS
25                       Bulgaria  231.0     252    94    10.3        EU
26                   Burkina Faso   25.0       7     7     4.3        AF
27                        Burundi   88.0       0     0     6.3        AF
28                  Cote d'Ivoire   37.0       1     7     4.0        AF
29                     Cabo Verde  144.0      56    16     4.0        AF
30                       Cambodia   57.0      65     1     2.2        AS
31                       Cameroon  147.0       1     4     5.8        AF
32                         Canada  240.0     122   100     8.2        NA
33       Central African Republic   17.0       2     1     1.8        AF
34                           Chad   15.0       1     1     0.4        AF
35                          Chile  130.0     124   172     7.6        SA
36                          China   79.0     192     8     5.0        AS
37                       Colombia  159.0      76     3     4.2        SA
38                        Comoros    1.0       3     1     0.1        AF
39                          Congo   76.0       1     9     1.7        AF
40                   Cook Islands    0.0     254    74     5.9        OC
41                     Costa Rica  149.0      87    11     4.4        NA
42                        Croatia  230.0      87   254    10.2        EU
43                           Cuba   93.0     137     5     4.2        NA
44                         Cyprus  192.0     154   113     8.2        EU
45                 Czech Republic  361.0     170   134    11.8        EU
46                    North Korea    0.0       0     0     0.0        AS
47                       DR Congo   32.0       3     1     2.3        AF
48                        Denmark  224.0      81   278    10.4        EU
49                       Djibouti   15.0      44     3     1.1        AF
50                       Dominica   52.0     286    26     6.6        NA
51             Dominican Republic  193.0     147     9     6.2        NA
52                        Ecuador  162.0      74     3     4.2        SA
53                          Egypt    6.0       4     1     0.2        AF
54                    El Salvador   52.0      69     2     2.2        NA
55              Equatorial Guinea   92.0       0   233     5.8        AF
56                        Eritrea   18.0       0     0     0.5        AF
57                        Estonia  224.0     194    59     9.5        EU
58                       Ethiopia   20.0       3     0     0.7        AF
59                           Fiji   77.0      35     1     2.0        OC
60                        Finland  263.0     133    97    10.0        EU
61                         France  127.0     151   370    11.8        EU
62                          Gabon  347.0      98    59     8.9        AF
63                         Gambia    8.0       0     1     2.4        AF
64                        Georgia   52.0     100   149     5.4        EU
65                        Germany  346.0     117   175    11.3        EU
66                          Ghana   31.0       3    10     1.8        AF
67                         Greece  133.0     112   218     8.3        EU
68                        Grenada  199.0     438    28    11.9        NA
69                      Guatemala   53.0      69     2     2.2        NA
70                         Guinea    9.0       0     2     0.2        AF
71                  Guinea-Bissau   28.0      31    21     2.5        AF
72                         Guyana   93.0     302     1     7.1        SA
73                          Haiti    1.0     326     1     5.9        NA
74                       Honduras   69.0      98     2     3.0        NA
75                        Hungary  234.0     215   185    11.3        EU
76                        Iceland  233.0      61    78     6.6        EU
77                          India    9.0     114     0     2.2        AS
78                      Indonesia    5.0       1     0     0.1        AS
79                           Iran    0.0       0     0     0.0        AS
80                           Iraq    9.0       3     0     0.2        AS
81                        Ireland  313.0     118   165    11.4        EU
82                         Israel   63.0      69     9     2.5        AS
83                          Italy   85.0      42   237     6.5        EU
84                        Jamaica   82.0      97     9     3.4        NA
85                          Japan   77.0     202    16     7.0        AS
86                         Jordan    6.0      21     1     0.5        AS
87                     Kazakhstan  124.0     246    12     6.8        AS
88                          Kenya   58.0      22     2     1.8        AF
89                       Kiribati   21.0      34     1     1.0        OC
90                         Kuwait    0.0       0     0     0.0        AS
91                     Kyrgyzstan   31.0      97     6     2.4        AS
92                           Laos   62.0       0   123     6.2        AS
93                         Latvia  281.0     216    62    10.5        EU
94                        Lebanon   20.0      55    31     1.9        AS
95                        Lesotho   82.0      29     0     2.8        AF
96                        Liberia   19.0     152     2     3.1        AF
97                          Libya    0.0       0     0     0.0        AF
98                      Lithuania  343.0     244    56    12.9        EU
99                     Luxembourg  236.0     133   271    11.4        EU
100                    Madagascar   26.0      15     4     0.8        AF
101                        Malawi    8.0      11     1     1.5        AF
102                      Malaysia   13.0       4     0     0.3        AS
103                      Maldives    0.0       0     0     0.0        AS
104                          Mali    5.0       1     1     0.6        AF
105                         Malta  149.0     100   120     6.6        EU
106              Marshall Islands    0.0       0     0     0.0        OC
107                    Mauritania    0.0       0     0     0.0        AF
108                     Mauritius   98.0      31    18     2.6        AF
109                        Mexico  238.0      68     5     5.5        NA
110                    Micronesia   62.0      50    18     2.3        OC
111                        Monaco    0.0       0     0     0.0        EU
112                      Mongolia   77.0     189     8     4.9        AS
113                    Montenegro   31.0     114   128     4.9        EU
114                       Morocco   12.0       6    10     0.5        AF
115                    Mozambique   47.0      18     5     1.3        AF
116                       Myanmar    5.0       1     0     0.1        AS
117                       Namibia  376.0       3     1     6.8        AF
118                         Nauru   49.0       0     8     1.0        OC
119                         Nepal    5.0       6     0     0.2        AS
120                   Netherlands  251.0      88   190     9.4        EU
121                   New Zealand  203.0      79   175     9.3        OC
122                     Nicaragua   78.0     118     1     3.5        NA
123                         Niger    3.0       2     1     0.1        AF
124                       Nigeria   42.0       5     2     9.1        AF
125                          Niue  188.0     200     7     7.0        OC
126                        Norway  169.0      71   129     6.7        EU
127                          Oman   22.0      16     1     0.7        AS
128                      Pakistan    0.0       0     0     0.0        AS
129                         Palau  306.0      63    23     6.9        OC
130                        Panama  285.0     104    18     7.2        NA
131              Papua New Guinea   44.0      39     1     1.5        OC
132                      Paraguay  213.0     117    74     7.3        SA
133                          Peru  163.0     160    21     6.1        SA
134                   Philippines   71.0     186     1     4.6        AS
135                        Poland  343.0     215    56    10.9        EU
136                      Portugal  194.0      67   339    11.0        EU
137                         Qatar    1.0      42     7     0.9        AS
138                   South Korea  140.0      16     9     9.8        AS
139                       Moldova  109.0     226    18     6.3        EU
140                       Romania  297.0     122   167    10.4        EU
141            Russian Federation  247.0     326    73    11.5        AS
142                        Rwanda   43.0       2     0     6.8        AF
143             St. Kitts & Nevis  194.0     205    32     7.7        NA
144                     St. Lucia  171.0     315    71    10.1        NA
145  St. Vincent & the Grenadines  120.0     221    11     6.3        NA
146                         Samoa  105.0      18    24     2.6        OC
147                    San Marino    0.0       0     0     0.0        EU
148           Sao Tome & Principe   56.0      38   140     4.2        AF
149                  Saudi Arabia    0.0       5     0     0.1        AS
150                       Senegal    9.0       1     7     0.3        AF
151                        Serbia  283.0     131   127     9.6        EU
152                    Seychelles  157.0      25    51     4.1        AF
153                  Sierra Leone   25.0       3     2     6.7        AF
154                     Singapore   60.0      12    11     1.5        AS
155                      Slovakia  196.0     293   116    11.4        EU
156                      Slovenia  270.0      51   276    10.6        EU
157               Solomon Islands   56.0      11     1     1.2        OC
158                       Somalia    0.0       0     0     0.0        AF
159                  South Africa  225.0      76    81     8.2        AF
160                         Spain  284.0     157   112    10.0        EU
161                     Sri Lanka   16.0     104     0     2.2        AS
162                         Sudan    8.0      13     0     1.7        AF
163                      Suriname  128.0     178     7     5.6        SA
164                     Swaziland   90.0       2     2     4.7        AF
165                        Sweden  152.0      60   186     7.2        EU
166                   Switzerland  185.0     100   280    10.2        EU
167                         Syria    5.0      35    16     1.0        AS
168                    Tajikistan    2.0      15     0     0.3        AS
169                      Thailand   99.0     258     1     6.4        AS
170                     Macedonia  106.0      27    86     3.9        EU
171                   Timor-Leste    1.0       1     4     0.1        AS
172                          Togo   36.0       2    19     1.3        AF
173                         Tonga   36.0      21     5     1.1        OC
174             Trinidad & Tobago  197.0     156     7     6.4        NA
175                       Tunisia   51.0       3    20     1.3        AF
176                        Turkey   51.0      22     7     1.4        AS
177                  Turkmenistan   19.0      71    32     2.2        AS
178                        Tuvalu    6.0      41     9     1.0        OC
179                        Uganda   45.0       9     0     8.3        AF
180                       Ukraine  206.0     237    45     8.9        EU
181          United Arab Emirates   16.0     135     5     2.8        AS
182                United Kingdom  219.0     126   195    10.4        EU
183                      Tanzania   36.0       6     1     5.7        AF
184                           USA  249.0     158    84     8.7        NA
185                       Uruguay  115.0      35   220     6.6        SA
186                    Uzbekistan   25.0     101     8     2.4        AS
187                       Vanuatu   21.0      18    11     0.9        OC
188                     Venezuela  333.0     100     3     7.7        SA
189                       Vietnam  111.0       2     1     2.0        AS
190                         Yemen    6.0       0     0     0.1        AS
191                        Zambia   32.0      19     4     2.5        AF
192                      Zimbabwe   64.0      18     4     4.7        AF

     cont_AS  cont_EU  cont_NA  cont_OC  cont_SA  cont_AS  cont_EU  cont_NA  \
0          1        0        0        0        0        1        0        0
1          0        1        0        0        0        0        1        0
2          0        0        0        0        0        0        0        0
3          0        1        0        0        0        0        1        0
4          0        0        0        0        0        0        0        0
5          0        0        1        0        0        0        0        1
6          0        0        0        0        1        0        0        0
7          0        1        0        0        0        0        1        0
8          0        0        0        1        0        0        0        0
9          0        1        0        0        0        0        1        0
10         0        1        0        0        0        0        1        0
11         0        0        1        0        0        0        0        1
12         1        0        0        0        0        1        0        0
13         1        0        0        0        0        1        0        0
14         0        0        1        0        0        0        0        1
15         0        1        0        0        0        0        1        0
16         0        1        0        0        0        0        1        0
17         0        0        1        0        0        0        0        1
18         0        0        0        0        0        0        0        0
19         1        0        0        0        0        1        0        0
20         0        0        0        0        1        0        0        0
21         0        1        0        0        0        0        1        0
22         0        0        0        0        0        0        0        0
23         0        0        0        0        1        0        0        0
24         1        0        0        0        0        1        0        0
25         0        1        0        0        0        0        1        0
26         0        0        0        0        0        0        0        0
27         0        0        0        0        0        0        0        0
28         0        0        0        0        0        0        0        0
29         0        0        0        0        0        0        0        0
30         1        0        0        0        0        1        0        0
31         0        0        0        0        0        0        0        0
32         0        0        1        0        0        0        0        1
33         0        0        0        0        0        0        0        0
34         0        0        0        0        0        0        0        0
35         0        0        0        0        1        0        0        0
36         1        0        0        0        0        1        0        0
37         0        0        0        0        1        0        0        0
38         0        0        0        0        0        0        0        0
39         0        0        0        0        0        0        0        0
40         0        0        0        1        0        0        0        0
41         0        0        1        0        0        0        0        1
42         0        1        0        0        0        0        1        0
43         0        0        1        0        0        0        0        1
44         0        1        0        0        0        0        1        0
45         0        1        0        0        0        0        1        0
46         1        0        0        0        0        1        0        0
47         0        0        0        0        0        0        0        0
48         0        1        0        0        0        0        1        0
49         0        0        0        0        0        0        0        0
50         0        0        1        0        0        0        0        1
51         0        0        1        0        0        0        0        1
52         0        0        0        0        1        0        0        0
53         0        0        0        0        0        0        0        0
54         0        0        1        0        0        0        0        1
55         0        0        0        0        0        0        0        0
56         0        0        0        0        0        0        0        0
57         0        1        0        0        0        0        1        0
58         0        0        0        0        0        0        0        0
59         0        0        0        1        0        0        0        0
60         0        1        0        0        0        0        1        0
61         0        1        0        0        0        0        1        0
62         0        0        0        0        0        0        0        0
63         0        0        0        0        0        0        0        0
64         0        1        0        0        0        0        1        0
65         0        1        0        0        0        0        1        0
66         0        0        0        0        0        0        0        0
67         0        1        0        0        0        0        1        0
68         0        0        1        0        0        0        0        1
69         0        0        1        0        0        0        0        1